:root {
  --fg: #BBBBBB;
  --bg: #16161C;
  --bg-1: #232530;
  --bg-2: #4C4D53;
  --red: #E95678;
  --orange: #F09483;
  --yellow: #FAC29A;
  --cyan: #25B0BC;
  --purple: #B877DB;
}

@font-face {
  font-family: FiraCode;
  src: url(media/FiraCode.ttf);
}

@keyframes fade-in {
  from { opacity: 0.5 }
  to   { opacity: 1 }
}

body {
  background: var(--bg);
  color: var(--fg);
  margin: 1em 2em;
  font-size: 2.5em;
  font-family: FiraCode, monospace;
  box-sizing: border-box;
  animation-name: fade-in;
  animation-timing-function: ease-out;
  animation-duration: 0.25s;
}

::-webkit-scrollbar { display: none }

header::before { content: '# ' }
header {
  font-size: 1.5em;
  color: var(--red);
  margin-bottom: 0.5em;
}

.red    { color: #E95678 }
.orange { color: #F09483 }
.yellow { color: #FAC29A }
.cyan   { color: #25B0BC }
.purple { color: #B877DB }

video {
  display: block;
  max-width: 90vw;
}

video::-webkit-media-controls { display: none; }

.filter { filter: sepia(1) grayscale(0.5) hue-rotate(190deg); }


b { color: var(--purple) }
i { color: var(--cyan) }
tt {
  color: var(--orange);
  background-color: var(--bg-1);
  font-family: FiraCode, monospace;
  padding: 0.1em 0.2em;
  border-radius: 0.3em;
}

ul { list-style: none; }
ul > li::before {
  content: '-';
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  color: var(--red);
}
li::marker { color: var(--red) }

.more-li-gap > li { margin: 1em 0; }

h1, h2, h3, h4, h5, h6 { color: var(--red) }

.editor-name {
  display: inline-block;
  width: 3ch;
  text-align: center;
}

.off { color: var(--bg-2) }

dd::before {
  content: '> ';
  margin-left: -1.2em;
}

dd {
  margin-left: 1.2em;
  opacity: 0.8;
  color: var(--yellow);
}

.plus li::before { content: '+'; color: var(--cyan); }

.flex {
  display: flex;
  gap: 1em
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-top: 2px solid var(--bg-1);
  border-bottom: 2px solid var(--bg-1);
}

th, td {
  padding: 0.4em 0;
  text-align: left;
}

table:hover { color: var(--bg-2); }
th { color: var(--fg); }
tr:hover { color: var(--purple); }

#gnu-addendum {
  position: absolute;
  top: 5em;
  left: 50vw;
  display: flex;
  gap: 1em;
  font-size: 2rem;
}

@keyframes gnu-interrupt {
  to { opacity: 1; transform: translateX(0); }
}

#gnu-addendum {
  opacity: 0;
  transform: translateX(300px);
  animation-name: gnu-interrupt;
  animation-delay: 10s;
  animation-fill-mode: forwards;
  animation-duration: 5s;
}

#gnu-addendum > img {
  height: 4em;
  transform: scaleX(-1);
}

#gnu-addendum > p {
  padding: 0.5em;
  box-sizing: content-box;
  border-radius: 0.5em;
  background-color: var(--bg-1);
  position: relative;
  box-shadow: 0 0 2em 0 #0008;
}

#gnu-addendum > p::after {
  content: "";
  display: inline-block;
  position: absolute;
  font-size: 0.5em;
  top: 1.25em;
  right: -1.5em;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1.5em solid var(--bg-1);
}

#vim-example {
  position: absolute;
  border: 2px solid var(--bg-1);
  bottom: 0.2em;
  right: 0.2em;
}