:root {
  --fg: #BBBBBB;
  --bg: #16161C;
  --bg-1: #232530;
  --bg-2: #4C4D53;
  --red: #E95678;
  --orange: #F09483;
  --yellow: #FAC29A;
  --cyan: #25B0BC;
  --purple: #B877DB;
}

@font-face {
  font-family: FiraCode;
  src: url(FiraCode.ttf);
}

@keyframes fade-in {
  from { opacity: 0 }
  to   { opacity: 1 }
}

body > * {
  animation-name: fade-in;
  animation-duration: 0.3s;
}

body {
  background: var(--bg);
  color: var(--fg);
  margin: 1em 2em;
  font-size: 2.5em;
  font-family: FiraCode, monospace;
  box-sizing: border-box;
}

::-webkit-scrollbar { display: none }

header::before { content: '# ' }
header {
  font-size: 1.5em;
  color: var(--red);
  margin-bottom: 1em;
}

video {
  display: block;
  max-width: 90vw;
  background-color: var(--bg-1);
  filter: sepia(1) grayscale(0.5) hue-rotate(190deg);
}
.no-filter { filter: none; }

b { color: var(--purple) }
i { color: var(--cyan) }
tt {
  color: var(--orange);
  background-color: var(--bg-1);
  font-family: FiraCode, monospace;
  padding: 0.1em 0.2em;
  border-radius: 0.3em;
}

ul { list-style: none; }
ul > li::before {
  content: '-';
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  color: var(--red);
}
li::marker { color: var(--red) }

h1, h2, h3, h4, h5, h6 { color: var(--red) }

.editor-name {
  display: inline-block;
  width: 3ch;
  text-align: center;
}

.off { color: var(--bg-2) }

dd::before {
  content: '> ';
  margin-left: -1em;
}

dd {
  opacity: 0.8;
  color: var(--yellow);
}

.plus li::before { content: '+'; color: var(--cyan); }

.flex {
  display: flex;
  gap: 1em
}